{% extends "shared/base.html" %}


{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row my-5">
      <div class="col-5 mx-auto">
      <h4 class="display-4 text-center">WeBook API</h4>
      <div class="text-danger font-weight-bold">
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
      </div>
      <div class="text-success font-weight-bold">
        {% if msg %}
        <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
          {{msg}}
        </div>
        {% endif %}
         </div>
    </div>
    </div>

    <div class="row my-5">
       <div class="col-5 mx-auto">
      <form method="POST">
        <div class="mb-3">
          <label>Email</label>
          <input type="text" required placeholder="Email" name="email" value="{{email}}" class="form-control">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" required placeholder="Password" value="{{password}}" name="password" class="form-control">
        </div>
        <div>
          <button type="submit" class="btn btn-primary my-4 float-end">Login</button>
        </div>
      </form>
         </div>
    </div>
  </div>
  {% endblock %}